html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 90%;
  margin-bottom: -50px;
}
.head{
 text-align: right;
 font-family: sans-serif;
 font-style: normal;
 font-size: 15px;
 padding-top: 18px;
 padding-right: 35px;
 color: black;
 word-spacing: 10px;
}
a:link {
  text-decoration: none;
  color: black;
}
.searchpic{
  padding-top: 33px;
    margin-top: 133px;
    text-align: center;
}
  .searchbar{
    text-align: center;
    margin-top: 23px;
  }  
  .searchbar input{
    height: 50px;
    width: 650px;
    border-radius: 105px;
    border: 2px solid #f2f2f2;
    box-shadow: 1px 1px 5px #d4cdcd;
  }
  
  .sb {
    text-align: center;
    margin-top: 30px;
     word-spacing: 10px;
  }
  .bsize{
    height: 40px;
    width: 150px;
    color: #5F6368;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 16px;
    border: none;
} 
button:hover {
  color: black;
  border: 1px solid grey;
}  
  .alignleft {
	float: left;
  color: grey;
  margin: 12px 0px 12px 35px; 
}
.alignright {
	float: right;
  margin: 12px 20px 12px 0px;
  color: grey;
}  
.push {
  height: 38px;  
 }
.footer, .hun{  
 font-family: sans-serif;
 font-size: 15px;
}
.footer {
overflow: hidden;
background-color: #f2f2f2 ;
}
a {
  color: black; 
}
a:hover {
  text-decoration: underline;
}

.hun {
  color: grey;
 font-family: sans-serif;
 text-indent: 35px;
 font-size: 17px;
 border-top: 1px solid #e4dddd;
border-bottom: 1px solid #e4dddd;
}